.footer {
    height: 14.25rem;
    position: relative;
    margin-bottom: 4.68rem;

    & .btn-generate {
        background-color: var(--brand-dark);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .75rem;
        width: 11.062rem;
        height: 3rem;
        border: none;
        border-radius: .5rem;
        font: var(--body-md);
        color: var(--text-heading);
        position: absolute;
        right: 0;
        bottom: 0;
        cursor: pointer;

        & img {
            width: 1.25rem;
            height: 1.25rem;
            object-fit: cover;
            aspect-ratio: 1/1;
        }

        &:hover {
            background-color: var(--brand-light);
        }
    }
}