input, textarea {
    all: unset;
    box-sizing: border-box;
    width: 100%;
    background-color: var(--input-base);
    border: 1px solid var(--input-stroke);
    border-radius: .5rem;
    padding: .812rem 1rem;
    margin-top: .75rem;

    &:focus {
        outline: 2px solid var(--brand-light);
    }
}

.input-wrapper {
    margin-bottom: 1rem;
}

input {
    &:user-invalid {
        outline: 1px solid var(--danger);
    }
}

.date-wrapper {
    display: flex;
    gap: 1rem;
    width: 100%;

    & > div {
        flex: 1;
        width: 100%;
    }
}

.local {
    display: flex;
    width: 100%;
    gap: 1rem;

    & > div {
        flex: 1;
        width: 100%;
    }
}

.file-wrapper {
    display: flex;
    flex-direction: column;

    label + .file-inner {
        margin-top: .75rem;
    }

    & .file-inner {
        display: flex;
        align-items: center;
        position: relative;
        height: 3rem;
        gap: .75rem;
        cursor: pointer;

        & input,
        & input:focus,
        & input:hover {
            opacity: 0;
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            cursor: pointer;
        }

        & .btn-file {
            background-color: var(--input-stroke);
            width: 7.437rem;
            height: 2.5rem;
            padding: .656rem .75rem;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: .5rem;
            border-radius: .5rem;
            cursor: pointer;

            & img {
                width: 1rem;
                height: 1rem;
                object-fit: cover;
                aspect-ratio: 1/1;
            }
        }

        & #file-name {
            color: var(--input-placeholder);
        }
    }
}