label+.radio-wrapper {
    margin-top: .75rem;
}

.radio-wrapper {
    display: flex;
    background-color: var(--input-base);
    border: 1px solid var(--input-stroke);
    padding: .25rem;
    border-radius: .5rem;
    gap: .25rem;

    & .radio-inner {
        border-radius: .25rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        position: relative;
        gap: .5rem;
        transition: background-color 0.2s;
        cursor: pointer;

        & input,
        & input:focus,
        & input:hover {
            all: unset;
            position: absolute;
            inset: 0;
        }

        & .img-presencial {
            background: url(../../assets/icons/building-2.svg) no-repeat center/1rem 1rem;
            width: 1.4rem;
            height: 2.5rem;
        }

        & .img-online {
            background: url(../../assets/icons/video.svg) no-repeat center/1rem 1rem;
            width: 1.4rem;
            height: 2.5rem;
        }

        &:has(:checked) {
            background-color: var(--input-stroke);

            & .img-presencial {
                background: url(../../assets/icons/building-2-checked.svg) no-repeat center/1rem 1rem;
                width: 1.4rem;
                height: 2.5rem;
            }

            & .img-online {
                background: url(../../assets/icons/video-checked.svg) no-repeat center/1rem 1rem;
                width: 1.4rem;
                height: 2.5rem;
            }
        }
    }
}

label+.color-content {
    margin-top: 1.5rem;
}

label+.color-wrapper {
    margin-top: 1rem;
}

.color-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(2rem, 1fr));
    justify-items: center;

    & .color-inner {
        background-color: var(--input-stroke);
        border-radius: 50%;
        width: 2.5rem;
        height: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        padding: .375rem;
        cursor: pointer;

        & .color-input,
        & .color-input:focus,
        & .color-input:hover {
            all: unset;
            position: absolute;
            inset: 0;
            transform: translateY(-11%);
        }

        & .color-style {
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }

        &:has(:checked) {
            outline: 2px solid var(--brand-light);
        }
    }
}

.event-themes {
    margin-top: 1.75rem;

    & label+.event-theme-wrapper {
        margin-top: 1rem;
    }

    & .event-theme-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(7.875rem, 1fr));
        gap: .5rem;

        & .event-theme-inner {
            background-color: var(--input-stroke);
            border-radius: .25rem;
            width: 8.375rem;
            padding: .25rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;

            & img {
                width: 100%;
                height: 4rem;
                object-fit: cover;
                border-radius: .25rem;
                aspect-ratio: 1/1;
                image-rendering: optimizeQuality;
            }

            &:has(:checked) {
                outline: 2px solid var(--brand-light);
            }
        }

        & .radio-theme,
        & .radio-theme:focus,
        & .radio-theme:hover {
            all: unset;
            position: absolute;
            inset: 0;
        }
    }
}