* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    /* Brand */
    --brand-light: #59b2ff;
    --brand-mid: #3487cf;
    --brand-dark: #1d6fb6;

    /* Accent Colors */
    --purple: #b259ff;
    --fuschia: #ff59f9;
    --pink: #ff598b;
    --orange: #ff8b59;
    --yellow: #ffcd59;
    --lime: #e1ff59;
    --green: #59ff91;
    --cyan: #59fff9;
    --navy: #6a59ff;

    /* Feedback */
    --danger: #ff5959;

    /* Input */
    --input-base: #1c1f21;
    --input-stroke: #363b40;
    --input-placeholder: #869198;

    /* Shape */
    --shape-background: #131516;
    --shape-body: #212427;
    --shape-button: #2d3136;
    --shape-hover: #383d42;

    /* Text */
    --text-body: #c8cdd0;
    --text-heading: #f9f9f9;

    /* TIPOGRAPHY */
    --logo: 500 2.5rem/auto "Leckerli One", cursive;

    --heading-md: 800 1.75rem/auto "Baloo 2", sans-serif;
    --heading-sm: 800 1.125rem/auto "Baloo 2", sans-serif;

    --body-md: 600 1rem/auto "Open Sans", sans-serif;
    --body-sm: 600 .875rem/auto "Open Sans", sans-serif;
    --body-xs: 600 .75rem/auto "Open Sans", sans-serif;
}

body {
    background-color: var(--shape-background);
    color: var(--text-heading);
    font: var(--body-md);
    overflow: hidden;
}

img {
    width: 100%;
}

