@import url(./fields/index.css);

#content {
    height: 100vh;
    margin: 1.25rem;
    grid-template-columns: 31.25rem 2fr;
}

aside {
    height: 100vh;
    background: var(--shape-body) url(../assets/Background.png) no-repeat center bottom/100% 100vh;
    border-radius: .75rem;
    padding: 2rem;

    header {

        img {
            width: 2.865rem;
            height: 3rem;
            margin-top: 1rem;
        }

        h1 {
            font: var(--logo);
            color: var(--pink);
            margin-bottom: .25rem;
        }

        p {
            font: 300 1rem/normal "Open Sans";
        }
    }
}

main {
    overflow: auto;
    background-color: var(--shape-body);
    padding-block: 5rem;
    border-radius: .75rem;

    & .main-container {
        max-width: 37rem;
        margin-inline: auto;
    }

    & .title {
        width: 37.5rem;
        margin-inline: auto;
    }
}

.event-style {
    display: flex;
    margin-top: 1.75rem;
}

.error {
    margin-top: .5rem;
    /* display: flex; */
    align-items: center;
    gap: .5rem;
    display: none;

    & img {
        width: 1rem;
        height: 1rem;
    }

    & span {
        font: var(--body-xs);
        color: var(--danger);
    }
}