.grid {
    display: grid;
}

.grid-flow-col {
    grid-auto-flow: column;
}

.gap-20 {
    gap: 20px;
}

.brand-light {
    background-color: var(--brand-light);
}

.navy {
    background-color: var(--navy);
}

.purple {
    background-color: var(--purple);
}

.fuschia {
    background-color: var(--fuschia);
}

.pink {
    background-color: var(--pink);
}

.danger {
    background-color: var(--danger);
}

.orange {
    background-color: var(--orange);
}

.yellow {
    background-color: var(--yellow);
}

.lime {
    background-color: var(--lime);
}

.green {
    background-color: var(--green);
}

.cyan {
    background-color: var(--cyan);
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}